@font-face {
  font-display: fallback;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/fira-sans/fira-sans-v9-regular.woff2) format("woff2"),
    url(/static/fonts/fira-sans/fira-sans-v9-regular.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  src: url(/static/fonts/fira-sans/fira-sans-v9-600.woff2) format("woff2"),
    url(/static/fonts/fira-sans/fira-sans-v9-600.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/fira-sans/fira-sans-v9-700.woff2) format("woff2"),
    url(/static/fonts/fira-sans/fira-sans-v9-700.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/fira-sans/fira-sans-v9-italic.woff2) format("woff2"),
    url(/static/fonts/fira-sans/fira-sans-v9-italic.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Spectral";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/spectral/spectral-v6-regular.woff2) format("woff2"),
    url(/static/fonts/spectral/spectral-v6-regular.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Spectral";
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/spectral/spectral-v6-700.woff2) format("woff2"),
    url(/static/fonts/spectral/spectral-v6-700.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Spectral";
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/spectral/spectral-v6-italic.woff2) format("woff2"),
    url(/static/fonts/spectral/spectral-v6-italic.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Spectral";
  font-style: normal;
  font-weight: 200;
  src: url(/static/fonts/spectral/spectral-v6-200.woff2) format("woff2"),
    url(/static/fonts/spectral/spectral-v6-200.woff) format("woff");
}
