---
layout: layouts/base.njk
---

{% macro external(href, text) -%}
<a href="{{ href }}" target="_blank" rel="noreferrer noopener">{{ text }}</a>
{%- endmacro %}

{% macro option(value, name, selected=false) -%}
{% if selected %}
<option selected value="{{ value }}">{{ name }}</option>
{% else %}
<option value="{{ value }}">{{ name }}</option>
{% endif %}
{%- endmacro %}


<main class="content">
  <div class="row w-full mb-2 justify-center px-2 md:px-0">
    <h1>{{ title }}</h1>
  </div>
  <div class="row w-full mb-2 justify-center px-2 md:px-0">
    <p>
      Ever needed to create some placeholder images? Here's an easy way to do that.
    </p>
  </div>

  <div class="row w-full mb-2 justify-center px-2 md:px-0">
    <h2>
      <span id="img-count">~{{ count }}</span> Images Created
    </h2>
  </div>

  {% set image_url = img_url ~ "?" ~ img_query %}
  <div class="row justify-center mb-5">
    <img
      id="example-image"
      src="{{ image_url }}"
      alt="Example image."
      loading="lazy"
      width="{{ img_dim.0 }}"
      height="{{ img_dim.1 }}"
    />
  </div>

  <div class="row align-items-center justify-content-center endpoint-container">
    <code id="endpoint">
      <a id="endpoint-url" href="{{ image_url }}" target="_blank" rel="noreferrer noopener" data-cy="endpoint-url">
        {{ image_url|escape }}
      </a>
    </code>
  </div>

  <div class="row justify-content-center align-items-center mb-6">
    <button
      id="copy-button"
      data-clipboard-text="{{ image_url }}"
      aria-label="Copied to clipboard!"
      disabled
      title="Copy image URL to clipboard."
    >
      <i data-icon="copy" title="Copy to clipboard."></i>
      <i class="d-none" data-icon="check" title="Copied"></i>
      <small class="ml-2">Copy to clipboard</small>
    </button>
  </div>
  {#
  <div class="image-container mb-3"></div>
  <div class="row d-none">
    <div class="form-group">
      <label for="expand-form">Expand Form</label>
      <input id="expand-form" type="checkbox" />
    </div>
  </div>
  #}

  <div>
    <form id="params-form" action="">
      <div class="form-group">
        <label for="width">Width</label>
        <div class="input-group">
          <input id="width" type="number" min="1" step="1" value="{{ img_dim.0 }}" max="{{ max_width }}" required data-cy="width" />
          <small class="help-text">&nbsp;</small>
        </div>
      </div>
      <div class="form-group">
        <label for="height">Height</label>
        <div class="input-group">
          <input id="height" type="number" min="1" step="1" value="{{ img_dim.1 }}" max="{{ max_height }}" required data-cy="height" />
          <small class="help-text">&nbsp;</small>
        </div>
      </div>
      <div class="form-group">
        <label for="bg">Background Color</label>
        <div class="input-group">
          <input id="bg" type="text" value="{{ bg_color }}" pattern="{{ color_pattern }}" data-cy="bg" />
          <small class="help-text">Three or six hex digits.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="fg">Text Color</label>
        <div class="input-group">
          <input id="fg" type="text" value="{{ fg_color }}" pattern="{{ color_pattern }}" data-cy="fg" />
          <small class="help-text">Three or six hex digits.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="fmt">Format</label>
        <div class="input-group">
          <select name="fmt" id="fmt" data-cy="fmt">
            {%- for value in img_formats %}
            {{ option(value, value, value==fmt) }}
            {%- endfor %}
          </select>
          <small class="help-text">“jpg” and “jpeg” are equivalent.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="font">Font</label>
        <div class="input-group">
          <select class="query" name="font" id="font" data-cy="font">
            <option value="">None</option>
            <option disabled value="">-----------</option>
            {% for value, name in font_names %}
            {{ option(value, name, value==font) }}
            {% endfor %}
          </select>
          <small class="help-text">&nbsp;</small>
        </div>
      </div>
      <div class="form-group">
        <label for="imageText">Text</label>
        <div class="input-group flex-nowrap">
          <div class="text-input">
            <input class="query" id="imageText" type="text" value="{{ text }}" maxlength="30" data-cy="imageText" />
            <input class="query check-check" type="checkbox" name="randomText" id="randomText" title="Randomize text." data-cy="randomText" />
          </div>

          <small class="help-text ml-auto">Randomize text.</small>
        </div>
      </div>
      <div class="form-group d-none">
        <label for="seed">Seed</label>
        <input id="seed" type="text" />
      </div>
    </form>
  </div>

  <div id="color-picker"></div>

  <section id="routes">
    <h3>Routes</h3>
    {% for rule in rules %}
    <p>
      <code>{{ rule | e }}</code>
    </p>
    {% endfor %}
    <div class="size-explanation">
      <small>
        Where <code>&lt;size&gt;</code> is either the width and height of a rectangular image
        (<code>width&times;height</code>) or the length of each side of a square image (<code>side</code>), in pixels.
        <p>
          {# <code class="rule">&lt;bg_color&gt;&nbsp;⟶&nbsp;width&times;height|</code> #}
          {# <code class="rule">&lt;fg_color&gt;&nbsp;⟶&nbsp;width&times;height</code> #}
          <code class="rule">&lt;size&gt;&nbsp;=&nbsp;width&times;height&nbsp;</code>
          <code class="rule">&lt;size&gt;&nbsp;=&nbsp;side</code>
        </p>
      </small>
    </div>
  </section>
</main>
<div class="row">
  <footer>
    <div class="footer-group">
      <h6>Powered by {{ external("https://palletsprojects.com/p/flask/", "Flask") }}</h6>
      <h6>And {{ external("https://www.heroku.com/", "Heroku") }}</h6>
    </div>
    <div class="footer-group">
      <div>
        Fira Mono, Fira Sans, Overpass, and Spectral are licensed under the
        <a href="{{ ofl_license }}">Open Font License</a>.
      </div>
      <div>Roboto is licensed under the <a href="{{ apache_license }}">Apache License</a>.</div>
    </div>
    {% set tag = "v" ~ version %}
    {% set github_url = "https://github.com/mvwicky/holdmypics/tree/" ~ tag %}
    <div class="footer-group">
      <h6>Created by Michael Van Wickle</h6>
      <h6>
        Version: <code>{{ external(github_url, version) }}</code>
      </h6>
    </div>
  </footer>
</div>

<canvas id="canvas"></canvas>
<script type="module" src="/_dist_/index.js"></script>
<a href="/about">About Page</a>