/* purgecss start ignore */
@import "tailwindcss/base";

@import "theme/fonts.css";
@import "theme/theme.css";

@import "tailwindcss/components";
/* postcss end ignore */
@import "tailwindcss/utilities";

.row {
  @apply flex flex-row;
}

body {
  background: #ffffff;
  color: #eee;
  text-align: center;
}

a {
  color: #aaa;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img,
.banner svg {
  display: block;
  padding: 1.5rem;
}
